//@font-face {
//  font-family: "MyFont";
//  src: url("./fonts/MyFont.eot");
//  src: local("MyFont Regular"), local("MyFont"),
//    url("./fonts/MyFont.eot?#iefix") format("embedded-opentype"),
//    url("./fonts/MyFont.woff2") format("woff2"),
//    url("./fonts/MyFont.woff") format("woff"),
//    url("./fonts/MyFont.ttf") format("truetype");
//  font-weight: normal;
//  font-style: normal;
//}
