<head>
  <meta charset="UTF-8" />
  <title>@@title</title>
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="./img/favicons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="./img/favicons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="./img/favicons/favicon-16x16.png"
  />
  <link rel="icon" type="image/x-icon" href="./img/favicons/favicon.ico" />
  <meta name="theme-color" content="#ffffff" />
  <link rel="stylesheet" href="./css/main.css" />
</head>
