@import "base/normalize";
@import "base/variables";
@import "base/fonts";
@import "base/text";
@import "base/global";

@import "components/button";

@import "blocks/header";
@import "blocks/footer";



  .my-custom-banner {
    min-height: 400px;
    padding: 90px 80px;
    display: flex;
    align-items: center;
    background-color: #FEA703;
    border-radius: 20px;
    position: relative;
    margin-bottom: 70px;
    overflow: hidden;
    @media screen and (max-width: 680px) {
      padding: 30px 16px 220px;
      display: block;
    }



    .left {
      h1 {
        color: #FFFFFF!important;
        position: relative;
        z-index: 21;
        max-width: 700px;
        width: 100%;
        @media screen and (max-width: 960px ) {
          font-size: 40px;
        }
        @media screen and (max-width: 680px ) {
          font-size: 30px;
        }
        @media screen and (max-width: 320px ) {
          font-size: 20px;
        }
      }

      .border_button {
        margin: 30px 0 0 0;
        position: relative;
        z-index: 21;
        .btn_custom_blue {
          .my_button_blue {
            color: #000000!important;
          }
        }


      }
    }

      img {
        position: absolute;
        width: auto;
        top: 10px;
        right: 80px;
        bottom: 10px;
        max-height: 100%;
        @media screen and (max-width: 680px) {
          right: 0;
          bottom: 0;
          top: unset;
        }
      }

    &-blue {
      background-color: #3891E3;
    }

    &-green {
      background-color: #B0CB01;
    }
  }
